@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body{
 overflow: hidden; 
 background-color: white;
 scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
  
}
.header{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}
.header h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.nav{
  display: flex;
  gap: 10px ;
  font-size: 18px;
  font-weight: 200;
}
.header button{
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  border:  1px solid lightgray;
}

@media (max-width : 768px) {
  .nav{
    font-size: 14px;
  }
  .header h2{
    font-size: 17px;
  }

  .header button{
    font-size: 12px;
  }
}